# --- App Configuration ---
DEBUG=true
SECRET_KEY=098f6bcd4621d373cade4e832627b4f6 
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# --- Database Configuration ---
DATABASE_URL=mysql+pymysql://root:13243546@localhost:3306/webmypham
# Dùng để mở rộng sau này, chưa dùng đến
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=13245
DB_NAME=webmypham

# Các biến tối ưu pool (khớp với config.py đã viết)
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20

# --- CORS Configuration ---
CORS_ORIGINS=["http://localhost:3000", "https://your-frontend.com"]

# --- Mail Configuration (SMTP) ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password_here

# --- Server Config ---
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000
RELOAD=true

SEPAY_ACCOUNT_NUMBER=96886693001254
SEPAY_ACCOUNT_NAME=DANG THANH MAI
SEPAY_BANK_ID=MSB
SEPAY_WEBHOOK_SECRET=spsk_live_bc2hLt6p7tBTH1pxC8ixmTNoAN3qiHA9